@using System.Runtime.InteropServices.JavaScript
@model Product
<div class="text-center">
    <h1 class = "display-4">Keep Account Management System</h1>

    <partial name = "PartialViews/createProduct"/>
    <partial name="PartialViews/getProductDb"/>
</div>